<?php

// Ensure all errors will be visible
error_reporting(E_ALL);
ini_set('display_errors', 1);

return [
    // Development time modules
    'modules' => [
        'ZendDeveloperTools',
        'ApplicationDev',
    ],

    'module_listener_options' => [
        // Turn off caching
        'config_cache_enabled'     => false,
        'module_map_cache_enabled' => false,

        // Check module dependencies
        'check_dependencies'       => true,
    ],
];
